*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  background: rgb(10, 8, 8);
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.dashboard {
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
 height: 500px;
 width: 800px;
  margin: 50px auto;
 justify-content: center;
 align-items: center;
 padding: 100px;
}

.card{
    background-color: #ffffff;
    width: 300px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgb(224, 219, 219);
}
